@import './src/Utils/_helpers.scss';

.Content { height: 100%; }

#map {
  height: 100%;
  width: 100%;

  > svg {
    display: block;
    background: #f6f7fa;
  }

  .deploymentPins { cursor: pointer; }
}

.ins-c-map-controls {
   z-index: 3;
  .ins-c-map-navigation {
    position: absolute;
    display: grid;
    grid-template-rows: auto;
    right: 30px;
    bottom: 80px;
    button.ins-c-map-navigation__zoom {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      height: 30px;
      width: 30px;
      background: rgba($primary, .7);
      border: 0;
      border-radius: 5px;
      margin-bottom: 5px;
      color: #fff;
      cursor: pointer;
      @include box-shadow();
      @include transition(all);
      &:hover{
        background: $primary;
      }
      &:active{
        height: 25px;
        width: 25px;
      }
    }
    button.ins-c-map-navigation__center {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border: 0;
      background: rgba($primary, .7);
      border-radius: 40px;
      height: 40px;
      width: 40px;
      font-size: 15px;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
      @include transition(all);
      @include box-shadow();
      &:hover{
        background: $primary;
      }
    }
  }
  .ins-c-map__toolbar {
    position: absolute;
    background: #fff;
    padding: 15px;
    margin: 15px;
    opacity: .5;
    z-index: 3;
    border-radius: 5px;
    @include box-shadow;
    @include transition(opacity);
    &:hover{
      opacity: 1;
    }

    button {
      //font-family: 'Overpass';
      background: #f5f5f5;
      color: $accent;
      border: 0;
      font-size: 14px;
      padding: 10px 20px;
      border-top: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
      border-bottom: 1px solid #d1d1d1;
      @include transition(all);

      &:hover{
        background: #e8e8e8;
        cursor: pointer;
      }

      &:first-of-type {
        border: 1px solid #d1d1d1;
      }

      &.active { background: #e8e8e8; }
    }
  }
}

path {
  fill: #adadad;

  &.active {
    stroke: black;
    stroke-width: 2px;
  }
}

#popover {
  width: 200px;
  height: 100px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  box-shadow: 0 0 8px 2px rgba(0,0,0,.3);
  &:before {
    content: '';
    position: absolute;
    left: -10px;
    top: calc(50% - 10px);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #fff;
  }
}
