// // overpass Font
// //==================================================================
// @font-face {
//   font-family: 'overpass-light';
//   src: url('../../static/fonts/overpass-light.eot');
//   src: url('../../static/fonts/overpass-light.eot?#iefix') format('embedded-opentype'),
//        url('../../static/fonts/overpass-light.woff2') format('woff2'),
//        url('../../static/fonts/overpass-light.woff') format('woff'),
//        url('../../static/fonts/overpass-light.ttf')  format('truetype');
//        font-weight: 300;
//        font-style: normal;
// }

// @font-face {
//   font-family: 'overpass-light-italic';
//   src: url('../../static/fonts/overpass-light-italic.eot');
//   src: url('../../static/fonts/overpass-light-italic.eot?#iefix') format('embedded-opentype'),
//        url('../../static/fonts/overpass-light-italic.woff2') format('woff2'),
//        url('../../static/fonts/overpass-light-italic.woff') format('woff'),
//        url('../../static/fonts/overpass-light-italic.ttf')  format('truetype');
//        font-weight: 300;
//        font-style: italic;
// }

// @font-face {
//   font-family: 'overpass';
//   src: url('../../static/fonts/overpass-regular.eot');
//   src: url('../../static/fonts/overpass-regular.eot?#iefix') format('embedded-opentype'),
//        url('../../static/fonts/overpass-regular.woff2') format('woff2'),
//        url('../../static/fonts/overpass-regular.woff') format('woff'),
//        url('../../static/fonts/overpass-regular.ttf')  format('truetype');
//        font-weight: 500;
//        font-style: normal;
// }

// @font-face {
//   font-family: 'overpass-italic';
//   src: url('../../static/fonts/overpass-italic.eot');
//   src: url('../../static/fonts/overpass-italic.eot?#iefix') format('embedded-opentype'),
//        url('../../static/fonts/overpass-italic.woff2') format('woff2'),
//        url('../../static/fonts/overpass-italic.woff') format('woff'),
//        url('../../static/fonts/overpass-italic.ttf')  format('truetype');
//        font-weight: 500;
//        font-style: italic;
// }

// @font-face {
//   font-family: 'overpass-bold';
//   src: url('../../static/fonts/overpass-bold.eot');
//   src: url('../../static/fonts/overpass-bold.eot?#iefix') format('embedded-opentype'),
//        url('../../static/fonts/overpass-bold.woff2') format('woff2'),
//        url('../../static/fonts/overpass-bold.woff') format('woff'),
//        url('../../static/fonts/overpass-bold.ttf')  format('truetype');
//        font-weight: 700;
//        font-style: normal;
// }

// @font-face {
//   font-family: 'overpass-bold-italic';
//   src: url('../../static/fonts/overpass-bold-italic.eot');
//   src: url('../../static/fonts/overpass-bold-italic.eot?#iefix') format('embedded-opentype'),
//        url('../../static/fonts/overpass-bold-italic.woff2') format('woff2'),
//        url('../../static/fonts/overpass-bold-italic.woff') format('woff'),
//        url('../../static/fonts/overpass-bold-italic.ttf')  format('truetype');
//        font-weight: 700;
//        font-style: italic;
// }