@import './src/Utils/_helpers.scss';

.card.ins-c-card {
  display: inline-flex;
  flex-direction: column;
  padding: $padding;
  margin: $margin;

  background: #fff;

  box-shadow: 0 1px 1px rgba(3,3,3,.175);

}